* {
    font-family: 'Times New Roman', Times, serif;
}
body{
    padding: 20px;
}

#cp{
    position: absolute;
    bottom: 0;
}

.heading{
    text-align: center;
    font-size: 3em; 
    padding: 20px;
}

.wrapper{
    max-width: 800px;
    margin: 0 auto;
}

.word-box{
    border: 2px solid #000;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 2em;
}

.options{
    display: flex;
    justify-content: space-between;
}

#timer,#point{
    font-size: 2rem;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

span{
    padding: 3px;
}

input {
    font-size: 2em !important;
}

.highlight{
    border-radius: 3px;
    background-color: #ddd;
}

.mistake{
    background-color: #fc0d1b;
}

.wrong{
    color: #fc0d1b;
}

.right{
    background: #fff;
    color: #0f7e12;
}
