@import "~bootstrap";

// General settings
$font-type: 2em "Times New Roman", Times, serif;
$font-page: "Helvetica Neue", Helvetica, Arial, sans-serif;
:root {
  // Light theme default
  --theme-background: #fff;
  --theme-text: #000;
  --theme-sample: #fff;
  --theme-input: #fff;
  --theme-border: #000;
  --theme-focus: #ddd;
  --theme-right: #0f7e12;
  --theme-wrong: #fc0d1b;

  // Dark theme
  --dark-text: #fff;
  --dark-background: #1b191a;
  --dark-sample: #242526;
  --dark-input: #3a3b3c;
  --dark-border: #3c3e40;
  --dark-focus: #4e4f50;
  --dark-right: #37a150;
  --dark-wrong: #ce2642;
}

.dark-mode {
  --theme-background: var(--dark-background) !important;
  --theme-text: var(--dark-text) !important;
  --theme-sample: var(--dark-sample) !important;
  --theme-input: var(--dark-input) !important;
  --theme-border: var(--dark-border) !important;
  --theme-focus: var(--dark-focus) !important;
  --theme-right: var(--dark-right) !important;
  --theme-wrong: var(--dark-wrong) !important;
}

// change theme
@media (prefers-color-scheme: dark) {
  #dark-auto {
    --theme-background: var(--dark-background);
    --theme-text: var(--dark-text);
    --theme-sample: var(--dark-sample);
    --theme-input: var(--dark-input);
    --theme-border: var(--dark-border);
    --theme-focus: var(--dark-focus);
    --theme-right: var(--dark-right);
    --theme-wrong: var(--dark-wrong);
  }
}

.page {
  --theme-background: #fff;
  --theme-text: #000;
  --theme-sample: #fff;
  --theme-input: #fff;
  --theme-border: #000;
  --theme-focus: #ddd;
  --theme-right: #0f7e12;
  --theme-wrong: #fc0d1b;

  font: $font-page;
  background-color: var(--theme-background);
  color: var(--theme-text);
  padding: 10px;

  .heading {
    text-align: center;
    font-size: 3em;
    padding: 20px;
  }

  .main {
    max-width: 800px;
    margin: 0 auto;
    font-family: $font-page;
    // background-color: red;

    .word-box {
      border: 2px solid var(--theme-border);
      background-color: var(--theme-sample);
      border-radius: 4px;
      padding: 10px;
      margin-bottom: 20px;
      font: $font-type;

      .top,
      .bot {
        padding: 3px;
      }

      .word {
        padding: 3px;
      }
    }

    .word-input {
      font: $font-type;
      background-color: var(--theme-input);
      border: 1px solid var(--theme-border);
      color: var(--theme-text);

      &:focus {
        box-shadow: none;
      }
    }

    .extra {
      display: flex;
      justify-content: space-between;

      #timer,
      #point {
        font-size: 2rem;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
      }
    }
  }
}

.highlight {
  border-radius: 3px;
  background-color: var(--theme-focus);
}

.mistake {
  background-color: var(--theme-wrong);
}

.wrong {
  color: var(--theme-wrong);
}

.right {
  color: var(--theme-right);
}

#coder {
  position: absolute;
  bottom: 0;
  margin-bottom: 16px;
  text-decoration: none;
  color: var(--theme-text);
}

// Options panel
#more {
  position: absolute;
  bottom: 0;
  right: 10px;
}

#panel {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 300px;
  padding: 20px;
  background-color: var(--theme-background);
  color: var(--theme-text);
  box-shadow: -3px 0 16px rgba($color: #000000, $alpha: 0.25);
  overflow-y: scroll;

  hr {
    border-color: var(--theme-border);
  }
  .panel__heading {
    text-align: center;
  }
  .option__heading {
    font-size: 1.2em;
  }
  .panel__mode,
  .panel__dark {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;

    .mode__list {
      min-width: 112px;

      .mode__item {
        padding: 6px;

        &:first-child {
          padding-top: 0;
        }
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  .panel__theme {
    .theme-option {
      width: 100%;
      height: 100px;
      margin: 20px 0;
      padding: 10px;
      border: 1px solid var(--theme-border);
      border-radius: 4px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;

      &:first-child {
        background: url("../images/themes/seed_cacti.png");
        background-size: 150px;
      }
      &:nth-child(2) {
        background: url("../images/themes/seed_flora.png");
        background-size: 80px;
      }
      &:nth-child(3) {
        background: url("../images/themes/seed_pencil.png");
        background-size: 100px;
      }
      &:last-child {
        margin-bottom: 0;
      }
      &:hover {
        border: 2px solid #1c77c2;
      }
      .theme__heading {
        color: var(--theme-text);
        box-shadow: -3px 3px 6px var(--theme-background);
      }
    }
  }
}
.theme-selected {
  border: 3px solid #2196f3 !important;
}

// Darkmode switch
.dark-switch {
  width: 60px;
  height: 30px;
  position: relative;
  display: inline-block;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .dark-switch__slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;

    &:before {
      position: absolute;
      content: "";
      height: 40px;
      width: 40px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto 0;
      box-shadow: 0 0 15px #2020203d;
      background: white url("../images/icons/sun.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
    }
  }

  input:checked + .dark-switch__slider {
    background-color: #2196f3;
  }
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .dark-switch__slider:before {
    -webkit-transform: translateX(24px);
    -ms-transform: translateX(24px);
    transform: translateX(24px);
    background: white url("../images/icons/moon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 24px;
  }
  .dark-switch__knot {
    border-radius: 34px;
  }
  .dark-switch__knot:before {
    border-radius: 50%;
  }
}
